# Flutter/Dart/Pub
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
Frontend/.dart_tool/
Frontend/build/
Frontend/.flutter-plugins-dependencies

# IDEs and Editors
.idea/
.vscode/
*.iml
*.iws

# Logs
*.log

# Windows & Mac
Thumbs.db
Desktop.ini
.DS_Store

# Backend & Temp Build
Backend/bin/
Backend/obj/
Backend/temp-build/
temp-build/
*.user
*.suo
*.userosscache
*.sln.docstates
